/*
!/node_exec/
!/public/
!/src/
!/.gitignore
!/.gitattributes
!/.browserslistrc
!/.eslintrc.js
!/LICENSE
!/README.md
!/package.json
!/package-lock.json
!/.gitlab-ci.yml
!/babel.config.js
!/vue.config.js
!/.env

